<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SwFiles.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
				<key>dateExpires</key>
				<string>10/11/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVCocoaHTTPServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVHTTPCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1700</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOPasscodeViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VCHV73KS79.de.smartwork.SwFiles.File-Provider-Extension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>VCHV73KS79</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.de.smartwork</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
						</array>
					</dict>
					<key>name</key>
					<string>File Provider Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>eb1d4a05-d098-4e7d-b275-5b1b9c3ac2bb</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles.File-Provider-Extension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.51</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VCHV73KS79.de.smartwork.SwFiles.Notification-Service-Extension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>VCHV73KS79</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.de.smartwork</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
						</array>
					</dict>
					<key>name</key>
					<string>Notification Service Extension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ce3f076d-eeeb-4b76-92ee-e9ab5788964b</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles.Notification-Service-Extension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.51</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VCHV73KS79.de.smartwork.SwFiles.Share</string>
						<key>com.apple.developer.team-identifier</key>
						<string>VCHV73KS79</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.de.smartwork</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
						</array>
					</dict>
					<key>name</key>
					<string>Share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fabd1d97-aa50-4e84-b81f-73e40d2fd9eb</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles.Share</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.51</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VCHV73KS79.de.smartwork.SwFiles.Widget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>VCHV73KS79</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.de.smartwork</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
						</array>
					</dict>
					<key>name</key>
					<string>Widget.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>064aebb8-f37a-4270-9f20-9f0ed8cb7d80</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles.Widget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.51</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BF8763933D27A426C38A7B2BCA37B5F80F7C1F12</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VCHV73KS79.de.smartwork.SwFiles.WidgetDashboardIntentHandler</string>
						<key>com.apple.developer.team-identifier</key>
						<string>VCHV73KS79</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.de.smartwork</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
						</array>
					</dict>
					<key>name</key>
					<string>WidgetDashboardIntentHandler.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>52ea25d2-67fe-490b-9159-a50dc07fcdcd</string>
						<key>dateExpires</key>
						<string>10/11/2023</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles.WidgetDashboardIntentHandler</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VCHV73KS79</string>
						<key>name</key>
						<string>PL Media GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.51</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VCHV73KS79.de.smartwork.SwFiles</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VCHV73KS79</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.de.smartwork</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>VCHV73KS79.it.twsweb.Crypto-Cloud</string>
				</array>
			</dict>
			<key>name</key>
			<string>SwFiles.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ddbc129a-6671-4ff6-9ee6-f4dff4c9f857</string>
				<key>dateExpires</key>
				<string>10/11/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: de.smartwork.SwFiles</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VCHV73KS79</string>
				<key>name</key>
				<string>PL Media GmbH</string>
			</dict>
			<key>versionNumber</key>
			<string>4.5.51</string>
		</dict>
	</array>
</dict>
</plist>
